/* General Body Styling */
body {
  font-family: "Arial", sans-serif;
  background: #011017;
  color: #333;
  height: 100vh;
  margin: 0;
}

/* Card Styles */
.card {
  background:url(imgaes/bg1.png);
}

.card:active {
  background: #02222e;
  transform: scale(1);
}

.card-body {
  padding: 20px;
}

/* Card Title Styling */
.card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  width: 100%;
  color: #35e1f0;
  margin-bottom: 70px;
}
.navbar input{
  font-size: 18px;
  text-transform:capitalize;
}

/* Card Text Styling */
.card-text {
  font-size: 1.2rem;
  font-weight: bold;
  color: #f2f7f7;
}

/* Highlighted Text */
.card-text span {
  color: #35e1f0;
}

/* Weather Image Styling */
.weather-data img {
  width: 450px;
  height: auto;
  margin-left: 20px;
  margin-bottom: 30px;
  object-fit: contain;
  border-radius: 10px;
}

/* Footer Styling */
footer {
  background-color: #343a40;
  color: #ffffff;
  padding: 40px 0;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  color: #f8f9fa;
}

footer .fab {
  transition: color 0.3s ease;
}

footer .fab:hover {
  color: #007bff; /* Highlight color on hover */
}

/* Responsive Design */
@media (max-width: 768px) {
  /* Card Text Adjustment */
  .card-text {
    margin-left: 0;
    font-size: 1rem;
  }

  /* Weather Image Adjustment */
  .weather-data img {
    width: 100%;
    margin-left: 0;
  }

  /* Weather Data and Map Layout */
  .weather-data,
  #map {
    flex: 1 1 100%;
    margin-bottom: 20px;
  }

  /* Navbar Search Form */
  .navbar .form-inline {
    width: 100%;
    justify-content: center;
  }
  /* Footer Content Adjustment */
  footer .container .row {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  footer .col-md-4 {
    margin-bottom: 20px;
  }

  footer .fab {
    margin: 0 10px;
  }
}

/* Responsive Media Query for Large Screens */
@media (min-width: 1200px) {
  .card-title {
    font-size: 2rem;
  }

  .card-text {
    font-size: 1.5rem;
  }
}
